$mainTypog: 'Work Sans', sans-serif;

$mainFontColor: #FFF;
$secondaryFontColor: #979595;
$accentFontColor: #D5A28E;

$secondaryColor: #D5A28E;
// $secondaryColor: #E7B1A3;
// $secondaryColor: #E6A197;